/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    letter-spacing: 2px;
    background-color: #190258;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    color: #fff;
}



/* Game Container */
.container {
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.battle {
    display: flex;
    width: 100%;
    max-width: 800px;
    height: 400px;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border: 1px solid #fff;
    box-shadow: 0 0 13px #fff;
    background-color: #fff;
    color: #2b029b;
    margin-bottom: 20px;
}

.players {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
    gap: 20px;
}

.players p {
    font-size: 2rem;
    font-weight: bold;
}

.players img {
    width: 100%;
    max-width: 150px;
    height: auto;
}

.vs {
    font-size: 3rem;
}

.buttons-container {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    width: 100%;
    justify-content: center;
}

.buttons-container img {
    width: 110px;
    height: 110px;
    cursor: pointer;
    background-color: #2b029b;
    border: 5px solid #fff;
    box-shadow: 0 0 10px #fff;
}

.img-container img {
    width: 100px;
    height: auto;
}


